html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a:hover {
    opacity:75%;
    image-orientation:from-image;
}
.lolBody{
    background-color:black;
    background-image:url("/images/lol/mainbg.jpg");
    background-attachment:fixed;
    background-size:cover;
    align-items:center;
}
.pictureImage{
    height:200px;
    width:300px;
}
.pictureLol {
    height: 200px;
    width: 250px;
   
}
.paladinsBody {
    background-color: black;
    background-image: url("/images/paladins/mainbg.jpg");
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
}