@Layout = null;
@model GuestInvite;


<!doctype html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Alert</title>
    </head>
    <body>
        <div>
            <h1>Welcome To Party</h1>
        </div>
        <div>
            <h2>@Model.name? </h2>
            <h2>@Model.email? </h2>
            <h2>@Model.phone? </h2>
            <h2>@Model.willAttend? </h2>
        </div>


    </body>
</html>
