@{
    ViewData["Title"] = "Home Page";
}

    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/site.css"/>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <style>
            img{
                height:400px;
                
            }
        </style>
    </head>
    <body class="home">
        <h1 class="text-center text-white">Photo Album</h1>

    <div id="carouselExample" class="carousel slide" style="width: 60%; margin: auto;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-action="lol" asp-controller="Home">
                    <img src="~/images/lol/main.jpg" class="d-block w-100" style="max-height: 400px;" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a asp-action="paladins" asp-controller="Home">
                    <img src="~/images/paladins/main.jpg" class="d-block w-100" style="max-height: 400px;" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a asp-action="left4dead" asp-controller="Home">
                    <img src="~/images/l4d/icon.jpg" class="d-block w-100" style="max-height: 400px;" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a asp-action="solo" asp-controller="Home">
                    <img src="~/images/solo/wallpaperflare.com_wallpaper.jpg" class="d-block w-100" style="max-height: 400px;" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a asp-action="slime" asp-controller="Home">
                    <img src="~/images/slime/991880.jpg" class="d-block w-100" style="max-height: 400px;" alt="...">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

 


    
    <script src = "~/lib/jquery/dist/jquery.min.js" ></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
    </body>
