
@{
}
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body class="l4dBody">
 
       
        <h1 class="text-white">Survivors</h1>
        <table class="table table-responsive table-borderless">
            <tbody class="text-center text-white">
                <tr>
                    <td>
                        <img src="~/images/l4d/bill.jpg" class="pictureLol" />
                        <h5>Bill</h5>
                        <p>Dead</p>
                    </td>
                <td>
                    <img src="~/images/l4d/francis.jpg" class="pictureLol" />
                    <h5>Francis</h5>
                    <p>Dead</p>
                </td>
                <td>
                    <img src="~/images/l4d/zoe.jpg" class="pictureLol" />
                    <h5>Zoe</h5>
                    <p>Dead</p>
                </td>
                <td>
                    <img src="~/images/l4d/louis.jpg" class="pictureLol" />
                    <h5>Louis</h5>
                    <p>Dead</p>
                </td>
                </tr>
                <tr>
                <td>
                    <img src="~/images/l4d/coach.jpg" class="pictureLol" />
                    <h5>Coach</h5>
                    <p>Dead</p>
                </td>
                <td>
                    <img src="~/images/l4d/rochelle.jpg" class="pictureLol" />
                    <h5>Rochelle</h5>
                    <p>Dead</p>
                </td>
                <td>
                    <img src="~/images/l4d/nick.png" class="pictureLol" />
                    <h5>Nick</h5>
                    <p>Dead</p>
                </td>
                <td>
                    <img src="~/images/l4d/ellis.jpg" class="pictureLol" />
                    <h5>Ellis</h5>
                    <p>Dead</p>
                </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <h1 class="text-white">Infected</h1>
        <table class="table table-responsive table-borderless">
            <tbody class="text-center text-white">
                    <tr>
                <td>
                    <img src="~/images/l4d/boomer.jpg" class="pictureLol" />
                    <h5>Boomer</h5>
                    <p>Suicidal</p>
                </td>
                <td>
                    <img src="~/images/l4d/charger.jpg" class="pictureLol" />
                    <h5>Charger</h5>
                    <p>Fast Charge</p>
                </td>
                <td>
                    <img src="~/images/l4d/hunter.jpg" class="pictureLol" />
                    <h5>Hunter</h5>
                    <p>Pounce</p>
                </td>
                <td>
                    <img src="~/images/l4d/jocky.png" class="pictureLol" />
                    <h5>Jocky</h5>
                    <p>Weird</p>
                </td>
                    </tr>
                    <tr>
                <td>
                    <img src="~/images/l4d/smoker.jpg" class="pictureLol" />
                    <h5>Smoker</h5>
                    <p>Drug Addict</p>
                </td>
                <td>
                    <img src="~/images/l4d/spitter.jpg" class="pictureLol" />
                    <h5>Spitter</h5>
                    <p>Acid</p>
                </td>
                <td>
                    <img src="~/images/l4d/tank.jpg" class="pictureLol" />
                    <h5>Tank</h5>
                    <p>Strong</p>
                </td>
                <td>
                    <img src="~/images/l4d/witch.jpg" class="pictureLol" />
                    <h5>Witch</h5>
                    <p>Dont touch</p>
                </td>
                    </tr>
            </tbody>
        </table>
        <hr />
    <h1 class="text-white">Maps</h1>
    <table class="table table-responsive table-borderless">
        <tbody class="text-center text-white">
            <tr>
                <td>
                    <img src="~/images/l4d/deadcenter.jpg" class="pictureLol" />
                    <h5>Dead Center</h5>
                    <p>Flu</p>
                </td>
                <td>
                    <img src="~/images/l4d/hardrain.jpg" class="pictureLol" />
                    <h5>Hard Rain</h5>
                    <p>Raining</p>
                </td>
                <td>
                    <img src="~/images/l4d/nomercy.jpg" class="pictureLol" />
                    <h5>No Mercy</h5>
                    <p>Hard</p>
                </td>
                <td>
                    <img src="~/images/l4d/swamp.jpg" class="pictureLol" />
                    <h5>Swamp Fever</h5>
                    <p>Sticky</p>
                </td>
            </tr>
        </tbody>
    </table>
    </body>
</html>
