@*
   
*@
@{
}
<!doctype html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
       <link href="/css/site.css" rel="stylesheet" />
       <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<div class="text-center">
    <img src="/images/lol/logo.png" class="m-2 p-2 col-4" />
</div>

<body class="lolBody">
    <div class="container">
        
        <table class="table table-responsive m-2 p-2">
            <tbody class="text-center text-white">
                <tr>
                    <td >
                        <img src="~/images/lol/aatrox1.jpg" class="pictureLol" />
                        <h5>Aatrox</h5>
                        <p>Undying</p>
                    </td>
                    <td>
                        <img src="~/images/lol/ahri.jpg" class="pictureLol" />
                        <h5>Ahri</h5>
                        <p>Fox</p>
                    </td>
                    <td>
                        <img src="~/images/lol/akali.jpg" class="pictureLol" />
                        <h5>Akali</h5>
                        <p>Ninja</p>
                    </td>
                    <td>
                        <img src="~/images/lol/alistar.jpg" class="pictureLol" />
                        <h5>Alistar</h5>
                        <p>Cow</p>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <img src="~/images/lol/amumu.jpg" class="pictureLol" />
                        <h5>Amumu</h5>
                        <p>Mummy</p>
                    </td>
                    <td>
                        <img src="~/images/lol/anivia.jpg" class="pictureLol" />
                        <h5>Anivia</h5>
                        <p>Eagle</p>
                    </td>
                    <td>
                        <img src="~/images/lol/annie.jpg" class="pictureLol" />
                        <h5>Annie</h5>
                        <p>Silly Flame Girl</p>
                    </td>
                    <td>
                        <img src="~/images/lol/ashe.jpg" class="pictureLol" />
                        <h5>Ashe</h5>
                        <p>Ranger</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/lol/aur.jpg" class="pictureLol" />
                        <h5>Aurelion Sol</h5>
                        <p>Galaxy Dragon</p>
                    </td>
                    <td>
                        <img src="~/images/lol/azir.jpg" class="pictureLol" />
                        <h5>Azir</h5>
                        <p>Shurema Emperor</p>
                    </td>
                    <td>
                        <img src="~/images/lol/bard.jpg" class="pictureLol" />
                        <h5>Bard</h5>
                        <p>Chime</p>
                    </td>
                    <td>
                        <img src="~/images/lol/blitz.jpg" class="pictureLol" />
                        <h5>Blitzcrank</h5>
                        <p>Robot</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/lol/brand.jpg" class="pictureLol" />
                        <h5>Brand</h5>
                        <p>Fire boy</p>
                    </td>
                    <td>
                        <img src="~/images/lol/braum.jpg" class="pictureLol" />
                        <h5>Braum</h5>
                        <p>Mustache</p>
                    </td>
                    <td>
                        <img src="~/images/lol/caitlyn.jpg" class="pictureLol" />
                        <h5>Caitlyn</h5>
                        <p>Sniper</p>
                    </td>
                    <td>
                        <img src="~/images/lol/camille.jpg" class="pictureLol" />
                        <h5>Camille</h5>
                        <p>Legs</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/lol/diana.jpg" class="pictureLol" />
                        <h5>Diana</h5>
                        <p>Moon</p>
                    </td>
                    <td>
                        <img src="~/images/lol/elise.jpg" class="pictureLol" />
                        <h5>Elise</h5>
                        <p>Spider</p>
                    </td>
                    <td>
                        <img src="~/images/lol/fiora.jpg" class="pictureLol" />
                        <h5>Fiora</h5>
                        <p>Fencer</p>
                    </td>
                    <td>
                        <img src="~/images/lol/jhin.jpg" class="pictureLol" />
                        <h5>Jhin</h5>
                        <p>Virtouso</p>
                    </td>
                </tr>
            </tbody>
        </table>
        
        

    </div>

</body>

</html>