@*
   
*@
@{
}

<div class="text-center">
    <img src="/images/lol/text.jpg" class="m-2 p-2 col-4" />
</div>

<body>
    <div class="container">
        <div class="row m-5">
        <img src="~/images/lol/aatrox1.jpg" class="col-4" />
        <h6>Aatrox</h6>
        <p>Undying</p>
        </div>
    </div>

</body>

