
@{
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>


<body class="paladinsBody">
    <div class="text-center">
        <img src="/images/paladins/logoo.png" class="m-2 p-2 col-4" />
    </div>

    <div class="container-sm text-center text-white">
        <h1>Front Line</h1>
        <table class="table table-responsive ">
            <tbody class="text-center text-white">
                <tr>
                    <td>
                        <img src="~/images/paladins/ash.jpg" class="pictureLol" />
                        <h5>Ash</h5>
                        <p>Let's Fight'</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/atlas.jpg" class="pictureLol" />
                        <h5>Atlas</h5>
                        <p>Let's Fight</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/fernando.jpg" class="pictureLol" />
                        <h5>Fernando</h5>
                        <p>Amego</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/inara.jpg" class="pictureLol" />
                        <h5>Inara</h5>
                        <p>Stone</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/paladins/makoa.jpg" class="pictureLol" />
                        <h5>Makoa</h5>
                        <p>Turtle</p>
                    </td>
                </tr>
            </tbody>
          
        </table>
        <h1>Damage</h1>
        <table class="table table-responsive ">
            <tbody class="text-center text-white">
                <tr>
                    <td>
                        <img src="~/images/paladins/cassie.jpg" class="pictureLol" />
                        <h5>Cassie</h5>
                        <p>Arrow</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/kinessa.jpg" class="pictureLol" />
                        <h5>Kinessa</h5>
                        <p>Sniper</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/lian.jpg" class="pictureLol" />
                        <h5>Lian</h5>
                        <p>Queen of Aico</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/viktor.jpg" class="pictureLol" />
                        <h5>Viktor</h5>
                        <p>Soldier</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/paladins/tyra.jpg" class="pictureLol" />
                        <h5>Tyra</h5>
                        <p>Machinegun</p>
                    </td>
                </tr>
            </tbody>

        </table>
        <h1>Support</h1>
        <table class="table table-responsive ">
            <tbody class="text-center text-white">
                <tr>
                    <td>
                        <img src="~/images/paladins/jenos.jpg" class="pictureLol" />
                        <h5>Jenos</h5>
                        <p>Astro</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/maldamba.jpg" class="pictureLol" />
                        <h5>Maldamba</h5>
                        <p>Snake</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/pip.jpg" class="pictureLol" />
                        <h5>Pip</h5>
                        <p>Catalyst</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/seris.jpg" class="pictureLol" />
                        <h5>Seris</h5>
                        <p>Void</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/paladins/ying.jpg" class="pictureLol" />
                        <h5>Ying</h5>
                        <p>Mirror Heal</p>
                    </td>
                </tr>
            </tbody>

        </table>
        <h1>Flank</h1>
        <table class="table table-responsive ">
            <tbody class="text-center text-white">
                <tr>
                    <td>
                        <img src="~/images/paladins/andro.jpg" class="pictureLol" />
                        <h5>Androxus</h5>
                        <p>Death awaits you all!</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/evie.jpg" class="pictureLol" />
                        <h5>Evie</h5>
                        <p>We did it</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/koga.jpg" class="pictureLol" />
                        <h5>Koga</h5>
                        <p>Ninja</p>
                    </td>
                    <td>
                        <img src="~/images/paladins/lex.jpg" class="pictureLol" />
                        <h5>Lex</h5>
                        <p>Boyaa</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/paladins/maeve.jpg" class="pictureLol" />
                        <h5>Maeve</h5>
                        <p>Cat</p>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</body>

</html>
