
@{
}

<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body class="soloBody">
    <div class="text-center">
        <img src="/images/slime/logo__1_-removebg-preview.png" class="m-2 p-2 col-4" />
    </div>
        <h1 class="text-center text-white">Octagram</h1>
        <table class="table table-responsive table-borderless">
            <tbody class="text-center text-white">
                <tr>
                <td>
                    <img src="~/images/slime/rimuruu.jpeg" class="pictureLol" />
                    <h5>Rimuru Tempest</h5>
                    <p>Rising Star</p>
                </td>
                <td>
                    <img src="~/images/slime/guy.webp" class="pictureLol" />
                    <h5>Guy Crimson</h5>
                    <p>Lord of Darkness</p>
                </td>
                <td>
                    <img src="~/images/slime/dagruel.jpg" class="pictureLol" />
                    <h5>Dagruel</h5>
                    <p>Earthquake</p>
                </td>
                <td>
                    <img src="~/images/slime/dino.jpeg" class="pictureLol" />
                    <h5>Dino</h5>
                    <p>Sleeping Ruler</p>
                </td>
                </tr>
                <tr>
                <td>
                    <img src="~/images/slime/leon.webp" class="pictureLol" />
                    <h5>Leon Cromwell</h5>
                    <p>Platinum Saber</p>
                </td>
                <td>
                    <img src="~/images/slime/ramiris.webp" class="pictureLol" />
                    <h5>Ramiris</h5>
                    <p>Labyrinth Fairy</p>
                </td>
                <td>
                    <img src="~/images/slime/valentine.jpg" class="pictureLol" />
                    <h5>Luminous Valentine</h5>
                    <p>Queen of Nightmares</p>
                </td>
                <td>
                    <img src="~/images/slime/milim.png" class="pictureLol" />
                    <h5>Milim Nava</h5>
                    <p>Destroyer</p>
                </td>
                </tr>
            </tbody>
        </table>
        <hr />
    <h1 class="text-center text-white">Rimuru Twelve Guardian Lords</h1>
    <table class="table table-responsive table-borderless">
        <tbody class="text-center text-white">
            <tr>
                <td>
                    <img src="~/images/slime/benimaru.jpg" class="pictureLol" />
                    <h5>Benimaru</h5>
                    <p>Flame Lord</p>
                </td>
                <td>
                    <img src="~/images/slime/ranga.jpg" class="pictureLol" />
                    <h5>Ranga</h5>
                    <p>Star Lord</p>
                </td>
                <td>
                    <img src="~/images/slime/gabiru.jpg" class="pictureLol" />
                    <h5>Gabiru</h5>
                    <p>Dragon Lord</p>
                </td>
                <td>
                    <img src="~/images/slime/geld.jpg" class="pictureLol" />
                    <h5>Geld</h5>
                    <p>Barrier Lord</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/slime/shion.jpg" class="pictureLol" />
                    <h5>Shion</h5>
                    <p>War Lord</p>
                </td>
                <td>
                    <img src="~/images/slime/diablo.jpg" class="pictureLol" />
                    <h5>Diablo</h5>
                    <p>Devil Lord</p>
                </td>
                <td>
                    <img src="~/images/slime/kumara.jpg" class="pictureLol" />
                    <h5>Kumara</h5>
                    <p>Chimeric Lord</p>
                </td>
                <td>
                    <img src="~/images/slime/zegion.jpg" class="pictureLol" />
                    <h5>Zegion</h5>
                    <p>Mist Lord</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/slime/adalmann.webp" class="pictureLol" />
                    <h5>Adalmann</h5>
                    <p>Gehenna Lord</p>
                </td>
                <td>
                    <img src="~/images/slime/testarossa.jpg" class="pictureLol" />
                    <h5>Testarossa</h5>
                    <p>Killer Lord</p>
                </td>
                <td>
                    <img src="~/images/slime/ultima.jpg" class="pictureLol" />
                    <h5>Ultima</h5>
                    <p>Pain Lord</p>
                </td>
                <td>
                    <img src="~/images/slime/carrera.jpg" class="pictureLol" />
                    <h5>Carrera</h5>
                    <p>Menace Lord</p>
                </td>
            </tr>
        </tbody>
    </table>
    </body>
</html>
