
@{
}

<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body class="soloBody">
    <div class="text-center">
        <img src="/images/solo/logo-removebg-preview.png" class="m-2 p-2 col-4" />
    </div>

    <h1 class="text-white text-center">Monarchs</h1>
    <table class="table table-responsive table-borderless">
        <tbody class="text-white text-center">
            <tr>
                <td>
                    <img src="~/images/solo/Antares1.jpg" class="pictureLol" />
                    <h5>Antares</h5>
                    <p>Monarch of Destruction</p>
                </td>
                <td>
                    <img src="~/images/solo/baran.jpg" class="pictureLol" />
                    <h5>Baran</h5>
                    <p>Monarch of Demons</p>
                </td>
                <td>
                    <img src="~/images/solo/beast.png" class="pictureLol" />
                    <h5>Rakan</h5>
                    <p>Monarch of Beast</p>
                </td>
                <td>
                    <img src="~/images/solo/Frosty5.webp" class="pictureLol" />
                    <h5>King of Frost</h5>
                    <p>Monarch of Frost</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/solo/ironbody.jpg" class="pictureLol" />
                    <h5>Tarnak</h5>
                    <p>Monarch of Iron Body</p>
                </td>
                <td>
                    <img src="~/images/solo/Legia8.webp" class="pictureLol" />
                    <h5>Legia</h5>
                    <p>Monarch of Beginning</p>
                </td>
                <td>
                    <img src="~/images/solo/plague.jpg" class="pictureLol" />
                    <h5>Querehsha</h5>
                    <p>Monarch of Plague</p>
                </td>
                <td>
                    <img src="~/images/solo/sung.jpg" class="pictureLol" />
                    <h5>Sung Jin Woo</h5>
                    <p>Monarch of Shadows</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/solo/Yogumunt3.webp" class="pictureLol" />
                    <h5>Yogumunt</h5>
                    <p>Monarch of Transfiguration</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h1 class="text-white text-center">Sung Jin Woo Shadow Army</h1>
    <table class="table table-responsive table-borderless">
        <tbody class="text-white text-center">
            <tr>
                <td>
                    <img src="~/images/solo/bellion.webp" class="pictureLol" />
                    <h5>Bellion</h5>
                    <p>Grand Marshal</p>
                </td>
                <td>
                    <img src="~/images/solo/beru.jpg" class="pictureLol" />
                    <h5>Beru</h5>
                    <p>Right hand</p>
                </td>
                <td>
                    <img src="~/images/solo/greed.webp" class="pictureLol" />
                    <h5>Greed</h5>
                    <p>Donut</p>
                </td>
                <td>
                    <img src="~/images/solo/igris.jpg" class="pictureLol" />
                    <h5>Igris</h5>
                    <p>Crimson Red Igris</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/solo/iron.jpg" class="pictureLol" />
                    <h5>Iron</h5>
                    <p>Former A-Rank</p>
                </td>
                <td>
                    <img src="~/images/solo/jima.jpg" class="pictureLol" />
                    <h5>Jima</h5>
                    <p>Naga</p>
                </td>
                <td>
                    <img src="~/images/solo/kaisel.png" class="pictureLol" />
                    <h5>Kaisel</h5>
                    <p>Former Demon Baran's' Wyvern</p>
                </td>
                <td>
                    <img src="~/images/solo/kamish.jpg" class="pictureLol" />
                    <h5>Kamish</h5>
                    <p>Monarch of Destruction's Underlings </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/solo/queen.webp" class="pictureLol" />
                    <h5>Queen Ant</h5>
                    <p>Jeju Island Queen Ant</p>
                </td>
                <td>
                    <img src="~/images/solo/tank.png" class="pictureLol" />
                    <h5>Tank</h5>
                    <p>Ice Bear from the Red Gate</p>
                </td>
                <td>
                    <img src="~/images/solo/tusk.jpeg" class="pictureLol" />
                    <h5>Tusk</h5>
                    <p>Grand Sorcerer of the High Orcs</p>
                </td>
            </tr>
        </tbody>
    </table>

    </body>
</html>
